@import 'bourbon';
@import 'breakpoint';
@import 'math';
@import 'modernizr';
@import 'singularitygs';

.page {
  width: 90%;
  margin: 0 auto;
}

.frame {
  display: block;
  position: relative;

  svg {
    display: none;
    width: 100%;
    height: auto;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.no-js {
  .frame {
    img[sizes] {
      display: none;
    }
  }
}

.js.svgclippaths {
  .frame {
    svg {
      display: block;
    }

    img[sizes] {
      display: none;
    }
  }
}
