@import 'bourbon';
@import 'breakpoint';
@import 'math';
@import 'modernizr';
@import 'singularitygs';

.page {
  width: 90%;
  margin: 0 auto;
}

.frame {
  display: block;
  position: relative;

  svg {
    width: 100%;
    height: auto;
  }
}
