<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>cuttysark</title>
    <link rel="stylesheet" href="../node_modules/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="../node_modules/modernizr/modernizr.custom.js"></script>
    <script src="../node_modules/lodash-3/lodash.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../js/cuttysark.js"></script>
  </head>
  <body>
    <div class="page">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <div class="frame">
        <svg xmlns="http://www.w3.org/2000/svg" width="572" height="462" viewBox="0 0 572 462">
          <defs>
            <clipPath id="desktop1ptClip">
              <path fill="none" stroke="#999999" stroke-miterlimit="3.864" d="M26 26h520v292H26z"/>
            </clipPath>
          </defs>
          <image clip-path="url(#desktop1ptClip)" xlink:href="../img/The_Earth_seen_from_Apollo_17.jpg" width="600" height="600"></image>
          <path clip-rule="evenodd" fill="none" stroke="#999999" stroke-miterlimit="10" d="M1 21C1 9.954 9.954 1 21 1h530c11.045 0 20 8.954 20 20v350c0 11.046-8.955 20-20 20H21c-11.046 0-20-8.954-20-20V21z"/>
          <path clip-rule="evenodd" fill="none" stroke="#999999" stroke-miterlimit="3.864" d="M26 26h520v292H26z"/>
          <path clip-rule="evenodd" fill="none" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="3" d="M223.444 391c0 3.386.101 8.549.299 15.492 0 6.113-.482 11.313-1.447 15.597-2.664 11.813-10.054 21.709-22.172 29.688-7.158 4.732-10.104 7.616-8.838 8.652.366.311 1.214.502 2.547.57h184.336c1.332-.068 2.181-.26 2.547-.57 1.265-1.036-1.681-3.92-8.839-8.652-12.118-7.979-19.508-17.876-22.171-29.688-.966-4.284-1.448-9.483-1.448-15.597.2-6.943.3-12.106.3-15.492"/>
        </svg>
      </div>

      <div class="frame">
        <svg xmlns="http://www.w3.org/2000/svg" width="286" height="462" viewBox="0 0 286 462">
          <defs>
            <clipPath id="phone1ptClip">
              <path fill="none" stroke="#999999" stroke-miterlimit="10" d="M28 58h230M28 403h230"/>
            </clipPath>
          </defs>
          <image clip-path="url(#phone1ptClip)" xlink:href="../img/The_Earth_seen_from_Apollo_17.jpg" width="600" height="600"></image>
          <path clip-rule="evenodd" fill="none" stroke="#999999" stroke-miterlimit="3.864" d="M28 21C28 9.954 36.955 1 48 1h190c11.045 0 20 8.954 20 20v420c0 11.046-8.955 20-20 20H48c-11.045 0-20-8.954-20-20V21z"/>
          <circle clip-rule="evenodd" fill="none" stroke="#999999" stroke-miterlimit="3.864" cx="143" cy="432" r="16"/>
          <circle clip-rule="evenodd" fill="none" stroke="#999999" stroke-miterlimit="3.864" cx="143" cy="29" r="3"/>
          <path fill="none" stroke="#999999" stroke-miterlimit="10" d="M28 58h230M28 403h230"/>
        </svg>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <script>
        (function(){
          (new NB.CuttySark({debug: true})).init();
        })();
      </script>
    </div>
  </body>
</html>
